@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Spline Sans", sans-serif;
}

li, a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 80px;
}

nav, nav * {
  background-color: #fcc7f5;
}

.logo {
  font-size: 35px;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links>li>a {
  transition: all 0.3s ease 0s;
  padding: 7px 13px;
  border-radius: 5px;
}

.nav-links li a:hover {
  background-color: #e48fd8;
}

.dashboard {
  display: inline-block;
}

.dashboard-links {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 2px 2px 5px black;
}

.dashboard-links a {
  background-color: white;
  padding: 10px 15px;
  text-align: left;
}

.dashboard:hover .dashboard-links {
  display: block;
}


