@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spline Sans', sans-serif;
}

.header-container {
  height: 56px;
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons-container {
  display: flex;
  gap: 0.8em;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.3rem 10%;
	width: 100%;
	background-color: white;
}

.nav-links-container {
	display: flex;
  gap: 32px;
}

.nav-link {
	list-style: none;
	height: 100%;
	padding: 1rem 1rem;
	font-size: 1.15rem;
	font-weight: 600;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* button hover styling */
.nav-link:hover {
	background-color: black;
	color: white;
	border-radius: 0.5rem;
}

.rounded-button {
  height: 40px;
  width: 40px;
  color: rgb(28, 30, 33);
  background-color: rgb(228, 230, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
  font-size: 24px;
}

.rounded-button:hover {
  background-color: rgb(200, 203, 209);
}
