@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spline Sans', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3rem 10%;
	width: 100%;
	background-color: antiquewhite;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.nav-links {
	display: flex;
}

.nav-link {
	list-style: none;
	height: 100%;
	padding: 1rem 1rem;
	font-size: 1.15rem;
	font-weight: 600;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* button hover styling */
.nav-link:hover {
	background-color: black;
	color: white;
	border-radius: 0.5rem;
}

a {
  display: flex;
  align-items: center;
}

.rounded-icon {
  
}
